* {
    box-sizing: border-box;
}

body {
    background-color: rgb(0, 82, 0);
}

.container {
    color: gold;
    font-family: 'Times New Roman', Times, serif;
}

.table {
    border: 2px solid gold;
    background-color: green;
    margin: 30px;
    height: 90vh;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.deck {
    flex-basis: 200px;
    flex-shrink: 0;
    height: 100%;;
    border-right: 2px solid gold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    flex-grow: 1;
}

.dealer {
    height: 50%;
    border-bottom: 2px dotted gold;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.player {
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hand {
    width: 80%;
    height: 60%;
    margin: auto;
    margin-top: 0;
    border: 1px solid gold;
    border-radius: 5px;
    background-color: rgb(0, 177, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    resize: both;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    resize: both;
}

.card {
    // background-image: url(../img/clubs-4.png);
    background-repeat: no-repeat;
    // flex-shrink: 1;
    flex-basis: 76px;
    // min-width: 30px;
    width: 76px;
    // min-height: 47px;
    height: 120px;
    background-size: contain;
    margin: 10px;
    resize: both;
}

.deckCard {
    background-image: url(../img/revers.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 150px;
    background-size: contain;
    margin: auto;
}

h2 {
    text-align: center;
}


button {
    border-radius: 20px;
    border: 2px solid gold;
    background-color: black;
    height: 30px;
    margin: 10px;
}
.controls {
    display: flex;
    justify-content: center;
}

#newGame {
    width: 120px;
}

#hit, #stay {
    width: 70px;
}

#bet {
    border-radius: 20px;
    color: gold;
    height: 30px;
    margin: 10px;
    border: 2px solid gold;
    background-color: black;
    padding-left: 10px;
    width: 130px
}
#bet:focus, button:focus {
    outline: none;
    box-shadow: 0 0 15px gold;
}
::placeholder {
    color: gold;
    opacity: .5;
}

.wallet {
    border-radius: 20px;
    border: 2px solid gold;
    background-color: black;
    height: 30px;
    margin: 10px;
    padding: 5px 20px;
    text-align: center;
}